body {
    margin: 0;
    background: linear-gradient(to bottom, #085380, #FFFFFF);
}

h1, h2 {
    color: #FFFFFF;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adjust values as needed */
}



.links-container {
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    height: auto;
    border-radius: 6px solid;
    padding: 10px;
    align-content: center;
}

.link-item {
    background-color: #fd8309; /* Darker Orange */
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.5);
    color: #fff;
    width: 105%;
    display: flex;
    flex-direction: column;
    flex-basis: calc(10% - 5px); /* Reducir el ancho ajustando el porcentaje */
    margin: 10px;
    padding: 8px; /* Ajustar el padding para mantener el contenido legible */
    text-align: center;
    text-decoration: none;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    height: 75px;
    border-radius: 15px;
}


.link-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 8px rgba(255, 255, 255, 0.2);
    border-radius: 20px solid;
}

.link-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.link-description {
    font-size: 0.9rem;
    margin-top: auto;
}

.logoImage{
    width: 100%;
    border: 2.5px solid white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.747);
    padding: 5px;
    height: auto;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out, opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.logoImage:hover{
    transform: scale(1.1);
    border: #FFFFFF 2px solid;
    /* Cambia la opacidad al hacer hover */
    filter: saturate(115%);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.993);
}

/* Tu archivo de estilos CSS */

/* ... (otras reglas de estilo) ... */

.carousel-image {
    width: 100%;
    box-shadow: 0 5px 8px rgba(219, 219, 219, 0.2); /* Ajusta estos valores según tus preferencias */
    transition: box-shadow 0.3s ease-in-out;
    
  }
  
  .carousel-image:hover {
    box-shadow: 0 10px 16px rgb(252, 252, 252); /* Cambia el sombreado al hacer hover */
  }
  

/* Estilos para AtencionCliente.js */

.atencion-cliente-container {
  background-color: #085380;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(250, 247, 247), 0 0 10px rgba(255, 254, 254, 0.5);
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 40px auto 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  fontWeight: 'bold';
}

.atencion-cliente-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 8px rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 15px rgb(250, 247, 247), 0 0 10px rgba(255, 254, 254, 0.5);
}

.atencion-cliente-container a {
  color: #FFA500;
}

.atencion-cliente-container p span {
  margin-right: 5px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.contact-icon {
  font-size: 1.5rem;
  margin-right: 10px;
}




.logoImage {
  margin-right: 50px; /* Ajusta según tus necesidades */
}

.carusel {
  margin-left: 50px; /* Ajusta según tus necesidades */
}